@import "tailwindcss";

/*
  Globale CSS-Variablen für konsistentes Styling
  - Anpassung der Farben basierend auf dem Farbschema
  - Verwendung von CSS-Variablen für bessere Wartbarkeit
*/
:root {
  --background: #ffffff;
  --foreground: #a21d1d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Dunkelmodus: Automatische Anpassung des Farbschemas */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: Blinker, sans-serif;
}

/* Header-Bereich */
.header {
  @apply flex w-full mb-5 md:mb-0;
}

/* Hauptcontainer */
.container {
  @apply flex min-h-screen min-w-screen w-full flex-col items-center justify-center bg-black p-5;
}

/* Bild-Container */
.image-container {
  @apply flex md:px-8;
}

/* Hauptinhalt */
.main-content { 
  @apply w-full max-w-3xl rounded-2xl bg-[#222729] p-4 shadow;
}

/* Zitate-Sektion */
.quote-section {
  @apply flex flex-col items-center text-center md:flex-row;
}

/* Zitate-Container */
.quote-container {
  @apply mx-auto flex md:w-[370px] flex-col justify-end p-4 text-center;
}

/* Zitat-Button */
.loadQuoteButton {
  @apply mx-auto mt-2 cursor-pointer rounded bg-gray-800 px-10 py-2 text-lg text-white transition active:scale-95 active:bg-gray-600 hover:bg-gray-700;
}

/* Zitat-Text */
.quote-text {
  @apply mt-8 mb-3 sm:mx-6 text-lg min-h-[225px] sm:min-h-[130px] md:min-h-[215px];
}

/* Footer */
.footer {
  @apply w-full border border-white px-2 py-4 text-center sm:mx-2 sm:pt-4;
}

/* Besucherzähler */
.span-count {
  @apply mx-1 text-lg text-blue-500;
}